<!DOCTYPE html>
<html lang="tr" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Home - Koç University</title>

    <link rel='stylesheet' id='maincss-css' href='https://eng.ku.edu.tr/wp-content/themes/kuwp/assets/css/main.min.css?ver=1654241356' type='text/css' media='' />
    

    <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.5.1.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" type="text/javascript"></script>
    
</head>

<body class="home page-template-default page page-id-333 masthead-fixed full-width grid wpb-js-composer js-comp-ver-5.3 vc_responsive">

    <div class="wrapper">

        <!-- ## Main Header -->
        <header id="mainHeader" class="main-header">
            <!-- ## Top bar -->
            <div class="top-bar">
                <div class="container">
                    <a href="" title="KU" class="header-logo _img"><img src="~/eng-logo1.png"></a>
                </div>
            </div>
            <!-- ## Header other link -->
            <div class="header-other-link">
                <div class="container">
                    <nav class="other-link-menu">
                        <ul>
                            <li class="menu-dropdown">
                                <a href="/Home/Index" title="" target="">Home</a>
                            </li>
                            <li class="menu-dropdown">
                                <a href="/Student/Index" title="" target="">Students</a>
                            </li>
                            <li class="menu-dropdown">
                                <a href="/Course/Index" title="" target="">Courses</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </header>

        @RenderBody()
    </div>
</body>
</html>

